
.App-header { 
    background-color:#000000 ;
    }
  

    .App-header .welcome h2{
      
       padding-bottom: 1%;
        color: #fff ;   
        text-align: center;
        
    }

    
    .App-header .welcome h1{
     
        color:#fddb3a;
        padding-top: 1% ;
        text-align: center;
    }

  
